img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button-primary, .footer-form__button, .portfolio__button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.button-primary, .footer-form__button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .footer-form__button:hover, .button-primary:focus, .footer-form__button:focus {
  background-color: #188ce8;
}

.portfolio__button {
  color: #212121;
  background-color: #f5f4fa;
  line-height: 1.62;
  letter-spacing: 0.03em;
  display: inline-block;
  padding: 6px 22px;
  height: 38px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-form__button {
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer-form__button {
    margin-left: auto;
    margin-right: auto;
  }
}

.logo {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}

.header__logo {
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 90px;
  }
}

.footer__logo {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
}

.logo__text {
  color: #2196f3;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section--without-top-padding {
  padding-top: 0px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.mobile-nav {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-nav__button, .mobile-nav__button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  max-width: 40px;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__button:hover, .mobile-nav__button-close:hover, .mobile-nav__button:focus, .mobile-nav__button-close:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-nav__button, .mobile-nav__button-close {
    display: none;
  }
}

.mobile-nav__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-nav__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  padding: 48px 40px;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

.mobile-nav__menu.is-open {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .mobile-nav__menu {
    display: none;
  }
}

.mobile-nav__navigation {
  margin-bottom: 302px;
}

.mobile-nav__navigation-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__navigation-link {
  font-size: 40px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__navigation-link:hover, .mobile-nav__navigation-link:focus {
  color: #2196f3;
}

.mobile-nav__navigation-link--current {
  color: #2196f3;
  background-color: #ffffff;
}

.mobile-nav__contacts {
  margin-bottom: 64px;
}

.mobile-nav__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__contacts-phone {
  color: #2196f3;
  font-size: 34px;
}

.mobile-nav__contacts-mail {
  font-size: 24px;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__contacts-mail:hover, .mobile-nav__contacts-mail:focus {
  color: #2196f3;
}

.mobile-nav__social {
  display: flex;
}

.mobile-nav__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav__social-item + .mobile-nav__social-item::before {
  content: '';
  display: block;
  height: 100%;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  margin-left: 10px;
}

.mobile-nav__social-link {
  color: #2196f3;
  line-height: 0.81;
}

body {
  color: var(--primmary-text-color);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header {
  position: relative;
  background-color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav {
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    justify-content: space-between;
  }
}

.site-nav__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    display: none;
  }
}

.site-nav__item {
  position: relative;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
  background-color: #ffffff;
}

.site-nav__link--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  right: 0;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    justify-content: center;
  }
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    margin-bottom: 15px;
  }
}

.work-cards {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .work-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .work-cards {
    justify-content: center;
  }
}

.work-cards__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: inherit;
  margin-bottom: 4px;
}

.work-cards__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}

.work-cards__item {
  margin: 15px;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .work-cards__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .work-cards__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

/* .work-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.work-list-item:nth-child(3n + 3) {
  margin-right: 0px;
} */
.work-cards__content {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.work-cards__link {
  color: inherit;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-cards__link:hover, .work-cards__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-cards__thumb {
  position: relative;
  overflow: hidden;
}

.work-cards__img {
  overflow: hidden;
}

/* .work-list-link:hover .work-list-thumb:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  opacity: 0.9;
} */
.work-cards__overlay-text {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.work-cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
  background: rgba(33, 150, 243, 0.9);
}

.work-cards__link:hover .work-cards__overlay,
.work-cards__link:focus .work-cards__overlay {
  transform: translateY(0);
}

.footer {
  background-color: #2f303a;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-positioning {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-positioning {
    display: flex;
  }
}

.footer__adress {
  color: #ffffff;
  font-style: normal;
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .footer__adress {
    text-align: center;
  }
}

.footer-contacts-block {
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .footer-contacts-block {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts-block {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    display: flex;
    flex-direction: column;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.footer-social-bloc {
  padding-top: 12px;
}

@media screen and (max-width: 767px) {
  .footer-social-bloc {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-social-bloc {
    text-align: center;
  }
}

.footer-social-bloc__title {
  color: #ffffff;
  font-weight: 700;
  line-height: 0.85;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-social-bloc__title {
    text-align: center;
  }
}

.footer-social__list {
  display: flex;
  margin-right: -10px;
}

@media screen and (max-width: 1199px) {
  .footer-social__list {
    justify-content: center;
  }
}

.footer-social__item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196f3;
}

.footer-social__icon {
  fill: currentColor;
}

.footer-form-bloc {
  padding-top: 12px;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-bloc {
    max-width: 450px;
    margin-right: auto;
  }
}

.footer-form-bloc__title {
  color: #ffffff;
  font-weight: 700;
  line-height: 0.85;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-form-bloc__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.footer-form__email {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding: 16px 15px;
  color: #ffffff;
  line-height: 1.25;
}

.footer-form__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
}

@media screen and (min-width: 1200px) {
  .footer-form__email {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.footer-form__icon {
  margin-left: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=portfolio.css.map */