.advantage__list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: -30px;
  }
}

.advantage__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.advantage__item-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
  @media screen and (max-width: 480px) {
    text-align: center;
  }
}
.advantage__item-text {
  color: $secondary-text-color;
  line-height: 1.71;
}

.advantage__thumb {
  display: flex;
  background-color: $third-bg-color;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
}
