.footer__adress {
  color: $primary-white-color;
  font-style: normal;

  margin-bottom: 9px;
}

.footer-contacts-block {
  flex-direction: column;
  margin-right: 70px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
