.footer__adress {
  color: $primary-white-color;
  font-style: normal;

  margin-bottom: 9px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-contacts-block {
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }

  // @media screen and (max-width: 1199px) {
  //   text-align: center;
  // }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
