.footer-social-bloc {
  padding-top: 12px;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-social-bloc__title {
  color: $primary-white-color;
  font-weight: 700;
  line-height: 0.85;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-social__list {
  display: flex;
  margin-right: -10px;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.footer-social__item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: $primary-white-color;
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;

  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social__icon {
  fill: currentColor;
}
