.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $timing-function;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timing-function;

  min-width: 528px;
  min-height: 581px;

  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 6px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  background-color: $primary-white-color;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.modal__icon {
  fill: currentColor;

  .modal__button-close:hover & {
    fill: $primary-white-color;
  }
}

// .modal__button-close:hover .modal__icon {
//   fill: $primary-white-color;
// }

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;
}

.modal-form {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
}

.modal-form__field {
  margin-bottom: 10px;

  &:focus-within .modal-form__input {
    border: 1px solid $accent-color;
    outline: none;
  }
  &:focus-within .modal-form__icon {
    fill: $accent-color;
  }
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  display: block;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 11px 12px;
  padding-left: 42px;

  transition: border 250ms $timing-function;
}

.modal-form__input--comment-text {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-form__wrap {
  position: relative;
  display: block;
}

.modal-form__icon {
  position: absolute;
  left: 12px;

  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms $timing-function;
}

// .modal-form__field:focus-within .modal-form__input {
//   border: 1px solid $accent-color;
//   outline: none;
// }

// .modal-form__field:focus-within .modal-form__icon {
//   fill: $accent-color;
// }

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

/* .checkbox-input { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
} */

.modal-checkbox__thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15px;
  height: 15px;

  background-color: $primary-white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid $primmary-text-color;
  border-radius: 1px;

  margin-right: 7px;

  transition: background-color 250ms $timing-function, border 250ms $timing-function;
}

.modal-checkbox__input:checked + .modal-checkbox__thumb {
  background-color: $accent-hover-color;
  border: 1px solid $accent-hover-color;
}

.modal-checkbox__icon {
  fill: $primary-white-color;
}

.modal-checkbox__text {
  line-height: 1.71;
  color: $secondary-text-color;
}

.modal-checkbox__link {
  text-decoration-line: underline;
  color: $accent-color;
}

.modal__button {
  @extend .button-primary;
  padding: 10px 56px;
  display: block;
  margin: 0 auto;
}
