.work-cards {
  margin: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.work-cards__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: inherit;

  margin-bottom: 4px;
}

.work-cards__text {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}

.work-cards__item {
  margin: 15px;
  border: 1px solid #eeeeee;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

/* .work-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.work-list-item:nth-child(3n + 3) {
  margin-right: 0px;
} */

.work-cards__content {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.work-cards__link {
  color: inherit;
  display: block;
  transition: box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work-cards__thumb {
  position: relative;
  overflow: hidden;
}

.work-cards__img {
  overflow: hidden;
}

/* .work-list-link:hover .work-list-thumb:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  opacity: 0.9;
} */

.work-cards__overlay-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.work-cards__overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition: transform 250ms $timing-function;

  padding: 24px;

  background: rgba(33, 150, 243, 0.9);

  .work-cards__link:hover &,
  .work-cards__link:focus & {
    transform: translateY(0);
  }
}
